@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Ubuntu:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* html {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
/* }
 */
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*overflow: hidden !important;*/
}
