.mainform {
  padding: 10% !important;
  background-color: rgba(0, 0, 0, 0.432);
  /* width: 450px; */
  border-radius: 6px;
  /* margin-top: 10%; */
  margin: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainform:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
