.InputGroup {
  /* width: 300px; */
  margin-bottom: 10px;
}
.SelectPicker {
  width: 300px;
}
.StatusGroup {
  color: black !important;
  display: inline-flex !important;
  font-weight: 100px !important;
  opacity: 0.5 !important;
}
.panel1 {
  background-color: rgba(145, 145, 168, 0.349);
  margin-bottom: 20px;
  /* padding: 10px; */
}
