.reset_main_container {
  padding: 30px;
  padding-bottom: 130px;
  min-width: 100%;
  /* height: auto; */
  min-height: 150%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/bg.jpg");

  background-position: top center;
  background-size: cover;
  /* background-color: green; */
}

.reset_logo {
  width: 100px;
  height: 100px;
  transform: translateX(-40px) translateY(-40px);
  box-shadow: 2px 2px 4px #000000;
  border-radius: 100%;
  padding: 10px;
  margin: 10px;
  position: absolute;
}
.reset_heading {
  padding-bottom: 20px;
}

.inputt {
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid rebeccapurple;
}

.inputt:focus {
  border-bottom: 2px solid whitesmoke;
  /* background-color: red; */
  color: black;
}
