.searchBar {
  padding: 20px;
  background-color: rgb(0, 0, 51) !important;
  color: whitesmoke !important;
  font-size: 14px;
}

.search_logo {
  border-radius: 50px;
  transform: translateX(5px) translateY(-25px);
}
.search_Bar {
  background-color: rgba(0, 0, 51, 0.589) !important;
 width:100%!important;
}
.search_Bar_Nav{
  padding-top:10px;
  width:600px!important;
}

.searchBar_brand{
  display: inline-flex!important;
}
.searchBar_brand h2{
   transform: translateX(20px) translateY(-15px);
}