.theme,.sidebarContainer{
  background-color:rgb(0, 0, 51)!important;
  /* background-color: #079577!important; */
  color:whitesmoke!important;
}
.theme:hover{
 opacity:2px!important;
 text-decoration:none!important;
  background-color:	rgba(0, 0, 51, 0.808)!important;
    /* background-color: #079576c4!important; */
}
.theme:hover + .Link{
  opacity:1;
}
.dropdownBox{
    display:inline;
}
.dropdown{
  /* background-color: green; */
  min-width: 100%!important;
  padding:0px 85px 0px 0px;

}

.dropdown_arrow{
 transform: translateX(30px) translateY(-1px);
  /* position: fixed; */
  font-size:20px;
}


.sidebarHeading{
  text-align:center!important;
    background-color: #079577!important;

}

.Link{
  color:whitesmoke!important;
  opacity: 0.5;
  letter-spacing:0.5px;
}

.Link:hover{
  opacity: 1;
  font-weight: 18px; text-decoration:none!important;
}

 