.main_container {
  padding: 30px;

  max-width: 100%;
  /* height: auto; */
  max-height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/bg.jpg");

  background-position: top center;
  background-size: cover;
  /* background-color: green; */
}

.logo {
  width: 100px;
  height: 100px;
  transform: translateX(-40px) translateY(-40px);
  box-shadow: 2px 2px 4px #000000;
  border-radius: 100%;
  padding: 10px;
  margin: 10px;
  position: absolute;
}
.heading {
  padding-bottom: 50px;
}

/* .coll {
  /* background-color: red;
} */

.defaultt {
  color: whitesmoke !important;
  text-align: center !important;
  letter-spacing: 1px !important;
  margin-left: 26px;
}

.inputt {
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid rebeccapurple;
}

.inputt:focus {
  border-bottom: 2px solid whitesmoke;
  /* background-color: red; */
  color: black;
}

.reset_link {
  color: skyblue;
  text-decoration: none;
  text-align: center;
  font-size: 14px;

  letter-spacing: 1.5px;
}

.reset_link :hover {
  color: rebeccapurple;
}

.reset_link :visited {
  color: rgba(95, 207, 235, 0.808);
}
