.h1 {
  /* padding: 10px; */
  color: white;
  margin-top: 20%;
  text-transform: capitalize;
  font-family: "Nunito Sans", sans-serif;
  font-size: 65px;
  font-weight: bolder !important;
  letter-spacing: 3px;
  /* background-color: red; */
  text-shadow: rgba(0, 0, 0, 0.349) 0px 4px 12px;
}

.h3 {
  font-size: 20px;
  color: grey;
  font-family: "Courgette", cursive;
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
