.userTable {
  /* background-color: blue; */
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 100%;
  margin-right: 10px;
}
 
.TableCell {
  border-bottom: 2px rgba(170, 169, 169, 0.26) groove;
}
/* .TableCell:hover {
  background-color: rgba(109, 88, 136, 0.336) !important;
} */
.checkboxBorder {
  background-color: #00ab8f1f !important;
  border-bottom: none !important;
}

.btnGroupmodal {
  display: inline-flex;
  width: 100px;
}
.marginRIght {
  margin-right: 10px;
}

.roleModal {
  background-color: rgba(145, 145, 168, 0.349);
  padding: 20px;
}

.tagline {
  font-size: 12px;
  color: darkgray;
}

.Action {
  padding: 5px;
  background-color: #00a88e;
   opacity:0.7;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 10px;
  color: whitesmoke;
}

.Action:hover {
   opacity:1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ActionRemove {
  margin: 10px;
}

.RemoveIcon {
  /* color: grey!important; */
   color: #fd7e14!important;

  opacity:0.6;
}
.RemoveIcon:hover{
 opacity:1;
}
/* HIDE RADIO */
.radioImg {
  position: absolute;
  opacity: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 9;

  transform: translateX(-3px) translateY(-1px);
}

/* IMAGE STYLES */
.radioImg + .fontIcon {
  cursor: pointer;
  font-size: 14px;
  opacity: 0.8;
  transform: translateX(2px) translateY(1px);
}

/* CHECKED STYLES */
.radioImg:checked + .fontIcon {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: white;
  background-color: transparent !important;
}
 
.radioImg2 {
  display: none;
}

.radioImg2Label {
  /* border: 1px solid red; */
  color:rgba(140, 171, 202, 0.658);
  padding: 10px;
  display: inline;
  position: relative;
  /* margin: 10px; */
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radioImg2Label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid rgb(255, 77, 77);
  position: absolute;
  top: 1px;
  left: -5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  transition-duration: 0.4s;
  transform: scale(0);
}

 .radioImg2Label .RemoveIcon {
  /* height: 30px;
  width: 30px; */
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

/* .radioImg2:checked+ .radioImg2Label { */
  /* height: 20px;
  width: 20px; */
   /* border: 1px solid red; */
  /* border-radius:50px; */
/* } */

.radioImg2:checked+ .radioImg2Label::before {
  content: "✓";
  background-color: rgb(255, 77, 77);
  transform: scale(1);
}

.radioImg2:checked+ .radioImg2Label .RemoveIcon {
  transform: scale(0.9);
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: -1;
}

.createBtn{
  background-color: #079577!important;
}

.removeBtn{
  /* background-color: #fd7e14!important; */
  background-color: transparent!important;
  border: 1px solid #079577!important;
  color:#079577!important;
  opacity:0.8;
}